@font-face {
  font-family: zbird-iconfont;
  src: url(assets/fonts/static/fonttest/zbird-iconfont.7d5098ea.eot);
  src: url(assets/fonts/static/fonttest/zbird-iconfont.7d5098ea.eot#iefix) format("embedded-opentype"), url(assets/fonts/static/fonttest/zbird-iconfont.13334a56.ttf) format("truetype"), url(assets/fonts/static/fonttest/zbird-iconfont.5ee64341.woff) format("woff"), url(assets/images/static/fonttest/zbird-iconfont.381d0769.svg#zbird-iconfont) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: block
}

[class*=" iconfont-"],
[class^=iconfont-] {
  font-family: zbird-iconfont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.iconfont-choice-13:before {
  content: "\E9EC"
}

.iconfont-down-12:before {
  content: "\E9EA"
}

.iconfont-up-12:before {
  content: "\E9EB"
}

.iconfont-t73zd-12:before {
  content: "\E9E5";
  color: #d51a00
}

.iconfont-dw-12:before {
  content: "\E9E6"
}

.iconfont-sgml-12:before {
  content: "\E9E7";
  color: #d51a00
}

.iconfont-tryevx-12:before {
  content: "\E9E8";
  color: #f4b3a7
}

.iconfont-utnw-12:before {
  content: "\E9E9"
}

.iconfont-chi-12:before {
  content: "\E9DD"
}

.iconfont-erg-12:before {
  content: "\E9DE"
}

.iconfont-fdht-12:before {
  content: "\E9DF"
}

.iconfont-ftu-12:before {
  content: "\E9E0"
}

.iconfont-ghtesw-12:before {
  content: "\E9E1"
}

.iconfont-sdt-12:before {
  content: "\E9E2"
}

.iconfont-shi-12:before {
  content: "\E9E3"
}

.iconfont-ui-12:before {
  content: "\E9E4"
}

.iconfont-bagt-12:before {
  content: "\E9C0"
}

.iconfont-bang-12:before {
  content: "\E9C1"
}

.iconfont-big-12:before {
  content: "\E9C2"
}

.iconfont-car-12:before {
  content: "\E9C3"
}

.iconfont-cart-12:before {
  content: "\E9C4"
}

.iconfont-data-12:before {
  content: "\E9C5"
}

.iconfont-degt-12:before {
  content: "\E9C6"
}

.iconfont-delete1-12:before {
  content: "\E9C7"
}

.iconfont-dian-12:before {
  content: "\E9C8"
}

.iconfont-ding-12:before {
  content: "\E9C9"
}

.iconfont-ent-12:before {
  content: "\E9CA";
  color: #626262
}

.iconfont-link-12:before {
  content: "\E9CB"
}

.iconfont-list-12:before {
  content: "\E9CC";
  color: #626262
}

.iconfont-locate-121:before {
  content: "\E9CD"
}

.iconfont-money-12:before {
  content: "\E9CE"
}

.iconfont-ok-12:before {
  content: "\E9CF"
}

.iconfont-phone-12:before {
  content: "\E9D0"
}

.iconfont-pyq-12:before {
  content: "\E9D1"
}

.iconfont-qian-12:before {
  content: "\E9D2"
}

.iconfont-sah-12:before {
  content: "\E9D3"
}

.iconfont-san-12:before {
  content: "\E9D4"
}

.iconfont-song-12:before {
  content: "\E9D5"
}

.iconfont-star-12:before {
  content: "\E9D6"
}

.iconfont-time-12:before {
  content: "\E9D7"
}

.iconfont-weixin-12:before {
  content: "\E9D8"
}

.iconfont-work-12:before {
  content: "\E9D9"
}

.iconfont-xiaoe-12:before {
  content: "\E9DA"
}

.iconfont-zhang-12:before {
  content: "\E9DB"
}

.iconfont-zhiwen-12:before {
  content: "\E9DC";
  color: #626262
}

.iconfont-diamond-7:before {
  content: "\E990"
}

.iconfont-bag-8:before {
  content: "\E991"
}

.iconfont-birthday-10:before {
  content: "\E992"
}

.iconfont-bsas-11:before {
  content: "\E993"
}

.iconfont-circle-11:before {
  content: "\E994"
}

.iconfont-date-10:before {
  content: "\E995"
}

.iconfont-delete-8:before {
  content: "\E996"
}

.iconfont-diamong-9:before {
  content: "\E997"
}

.iconfont-edit-9:before {
  content: "\E998"
}

.iconfont-edit-10:before {
  content: "\E999"
}

.iconfont-email-8:before {
  content: "\E99A"
}

.iconfont-er-9:before {
  content: "\E99B"
}

.iconfont-erert-11:before {
  content: "\E99C"
}

.iconfont-ffe-10:before {
  content: "\E99D"
}

.iconfont-fire-11:before {
  content: "\E99E"
}

.iconfont-gh-10:before {
  content: "\E99F"
}

.iconfont-heart-8:before {
  content: "\E9A0"
}

.iconfont-heart-9:before {
  content: "\E9A1"
}

.iconfont-heart-11:before {
  content: "\E9A2"
}

.iconfont-home-8:before {
  content: "\E9A3"
}

.iconfont-idea-9:before {
  content: "\E9A4"
}

.iconfont-list-10:before {
  content: "\E9A5"
}

.iconfont-locate-11:before {
  content: "\E9A6"
}

.iconfont-locate-12:before {
  content: "\E9A7"
}

.iconfont-love-10:before {
  content: "\E9A8"
}

.iconfont-me-8:before {
  content: "\E9A9"
}

.iconfont-money-10:before {
  content: "\E9AA"
}

.iconfont-nan-11:before {
  content: "\E9AB"
}

.iconfont-news-8:before {
  content: "\E9AC"
}

.iconfont-news-11:before {
  content: "\E9AD"
}

.iconfont-nv-11:before {
  content: "\E9AE"
}

.iconfont-ok-11:before {
  content: "\E9AF"
}

.iconfont-oo-9:before {
  content: "\E9B0"
}

.iconfont-op-9:before {
  content: "\E9B1"
}

.iconfont-ring-10:before {
  content: "\E9B2"
}

.iconfont-search-9:before {
  content: "\E9B3"
}

.iconfont-service-8:before {
  content: "\E9B4"
}

.iconfont-set-8:before {
  content: "\E9B5"
}

.iconfont-share-8:before {
  content: "\E9B6"
}

.iconfont-share-10:before {
  content: "\E9B7"
}

.iconfont-share-11:before {
  content: "\E9B8"
}

.iconfont-size-9:before {
  content: "\E9B9"
}

.iconfont-store-10:before {
  content: "\E9BA"
}

.iconfont-storn-9:before {
  content: "\E9BB"
}

.iconfont-two-10:before {
  content: "\E9BC"
}

.iconfont-ty-8:before {
  content: "\E9BD"
}

.iconfont-weg-12:before {
  content: "\E9BE"
}

.iconfont-yu-10:before {
  content: "\E9BF"
}

.iconfont-delete-6:before {
  content: "\E91B"
}

.iconfont-edit-6:before {
  content: "\E91C"
}

.iconfont-share-6:before {
  content: "\E98F"
}

.iconfont-all:before {
  content: "\E90F"
}

.iconfont-girl .path1:before {
  content: "\E910";
  color: #231815
}

.iconfont-girl .path2:before {
  content: "\E911";
  margin-left: -1em;
  color: #000
}

.iconfont-gouwudai:before {
  content: "\E912"
}

.iconfont-image-5:before {
  content: "\E913"
}

.iconfont-man .path1:before {
  content: "\E914";
  color: #000
}

.iconfont-man .path2:before {
  content: "\E915";
  margin-left: -1em;
  color: #231815
}

.iconfont-name:before {
  content: "\E916"
}

.iconfont-Oath:before {
  content: "\E917"
}

.iconfont-service-3:before {
  content: "\E918"
}

.iconfont-store-5:before {
  content: "\E919"
}

.iconfont-xiuli:before {
  content: "\E91A"
}

.iconfont-anniversary:before {
  content: "\E906"
}

.iconfont-birthday:before {
  content: "\E907"
}

.iconfont-coupon:before {
  content: "\E908"
}

.iconfont-design-2:before {
  content: "\E909"
}

.iconfont-diamond-5:before {
  content: "\E90A"
}

.iconfont-edit-5:before {
  content: "\E90B"
}

.iconfont-order-2:before {
  content: "\E90C"
}

.iconfont-set-5:before {
  content: "\E90D"
}

.iconfont-vip:before {
  content: "\E90E"
}

.iconfont-and:before {
  content: "\E92E"
}

.iconfont-clover:before {
  content: "\E92F"
}

.iconfont-hearts:before {
  content: "\E930"
}

.iconfont-star:before {
  content: "\E931"
}

.iconfont-aquarius:before {
  content: "\E932"
}

.iconfont-aries:before {
  content: "\E933"
}

.iconfont-cancer:before {
  content: "\E934"
}

.iconfont-capricorn:before {
  content: "\E935"
}

.iconfont-gemini:before {
  content: "\E936"
}

.iconfont-leo:before {
  content: "\E937"
}

.iconfont-libra:before {
  content: "\E938"
}

.iconfont-pisces:before {
  content: "\E939"
}

.iconfont-sagittarius:before {
  content: "\E93A"
}

.iconfont-scorpio:before {
  content: "\E93B"
}

.iconfont-taurus:before {
  content: "\E93C"
}

.iconfont-virgo:before {
  content: "\E93D"
}

.iconfont-boar:before {
  content: "\E93E"
}

.iconfont-cock:before {
  content: "\E93F"
}

.iconfont-dog:before {
  content: "\E940"
}

.iconfont-dragon:before {
  content: "\E941"
}

.iconfont-hare:before {
  content: "\E942"
}

.iconfont-horse:before {
  content: "\E943"
}

.iconfont-monkey:before {
  content: "\E944"
}

.iconfont-ox:before {
  content: "\E945"
}

.iconfont-rat:before {
  content: "\E946"
}

.iconfont-sheep:before {
  content: "\E947"
}

.iconfont-snake:before {
  content: "\E948"
}

.iconfont-tiger:before {
  content: "\E949"
}

.iconfont-affirm:before {
  content: "\E91D"
}

.iconfont-again:before {
  content: "\E91E"
}

.iconfont-circle:before {
  content: "\E91F"
}

.iconfont-couple-rings:before {
  content: "\E920"
}

.iconfont-delete:before {
  content: "\E921"
}

.iconfont-diamond-ring:before {
  content: "\E922"
}

.iconfont-diamond:before {
  content: "\E923"
}

.iconfont-gift:before {
  content: "\E924"
}

.iconfont-heart:before {
  content: "\E925"
}

.iconfont-home:before {
  content: "\E926"
}

.iconfont-imprint:before {
  content: "\E927"
}

.iconfont-new:before {
  content: "\E928"
}

.iconfont-new-1:before {
  content: "\E929"
}

.iconfont-princess-cut:before {
  content: "\E92A"
}

.iconfont-pulvilliform:before {
  content: "\E92B"
}

.iconfont-save:before {
  content: "\E92C"
}

.iconfont-service:before {
  content: "\E92D"
}

.iconfont-set:before {
  content: "\E94A"
}

.iconfont-shopping-cart:before {
  content: "\E94B"
}

.iconfont-size:before {
  content: "\E94C"
}

.iconfont-story:before {
  content: "\E94D"
}

.iconfont-style:before {
  content: "\E94E"
}

.iconfont-switch:before {
  content: "\E94F"
}

.iconfont-trueing:before {
  content: "\E950"
}

.iconfont-try:before {
  content: "\E951"
}

.iconfont-add:before {
  content: "\E952"
}

.iconfont-bible:before {
  content: "\E953"
}

.iconfont-certificate:before {
  content: "\E954"
}

.iconfont-collect:before {
  content: "\E955"
}

.iconfont-Concern:before {
  content: "\E956"
}

.iconfont-delete-2:before {
  content: "\E957"
}

.iconfont-diamond-2:before {
  content: "\E900"
}

.iconfont-gift-2:before {
  content: "\E958"
}

.iconfont-list:before {
  content: "\E959"
}

.iconfont-locate:before {
  content: "\E95A"
}

.iconfont-me:before {
  content: "\E95B"
}

.iconfont-news:before {
  content: "\E95C"
}

.iconfont-next:before {
  content: "\E95D"
}

.iconfont-return:before {
  content: "\E95E"
}

.iconfont-set-2:before {
  content: "\E95F"
}

.iconfont-she-say:before {
  content: "\E960"
}

.iconfont-store:before {
  content: "\E961"
}

.iconfont-subtract:before {
  content: "\E962"
}

.iconfont-text:before {
  content: "\E963"
}

.iconfont-thumbnail:before {
  content: "\E964"
}

.iconfont-traceability:before {
  content: "\E965"
}

.iconfont-design:before {
  content: "\E966"
}

.iconfont-diamond-4:before {
  content: "\E967"
}

.iconfont-gift-3:before {
  content: "\E968"
}

.iconfont-imprint1:before {
  content: "\E969"
}

.iconfont-intelligent-robot:before {
  content: "\E96A"
}

.iconfont-men-women:before {
  content: "\E96B"
}

.iconfont-men:before {
  content: "\E96C"
}

.iconfont-pair-ring:before {
  content: "\E96D"
}

.iconfont-wear:before {
  content: "\E96E"
}

.iconfont-women:before {
  content: "\E96F"
}

.iconfont-collection:before {
  content: "\E970"
}

.iconfont-complete:before {
  content: "\E971"
}

.iconfont-customization:before {
  content: "\E972"
}

.iconfont-delete-21:before {
  content: "\E973"
}

.iconfont-delete-3:before {
  content: "\E974"
}

.iconfont-delivery:before {
  content: "\E975"
}

.iconfont-like-3:before {
  content: "\E976"
}

.iconfont-news1:before {
  content: "\E977"
}

.iconfont-pay:before {
  content: "\E978"
}

.iconfont-return-2:before {
  content: "\E979"
}

.iconfont-ring-2:before {
  content: "\E97A";
  color: #5a5a5a
}

.iconfont-ring-3:before {
  content: "\E97B"
}

.iconfont-scan-2:before {
  content: "\E97C"
}

.iconfont-search-2:before {
  content: "\E97D"
}

.iconfont-search-3:before {
  content: "\E97E"
}

.iconfont-service-2:before {
  content: "\E97F"
}

.iconfont-share-2:before {
  content: "\E980"
}

.iconfont-share-3:before {
  content: "\E981"
}

.iconfont-thumb:before {
  content: "\E982"
}

.iconfont-about-us:before {
  content: "\E983"
}

.iconfont-brand:before {
  content: "\E984"
}

.iconfont-certificate1:before {
  content: "\E985"
}

.iconfont-home1:before {
  content: "\E986"
}

.iconfont-me1:before {
  content: "\E987"
}

.iconfont-must-read:before {
  content: "\E988"
}

.iconfont-next1:before {
  content: "\E989"
}

.iconfont-order:before {
  content: "\E98A"
}

.iconfont-programme:before {
  content: "\E98B"
}

.iconfont-ring-4:before {
  content: "\E98C"
}

.iconfont-she-said:before {
  content: "\E98D"
}

.iconfont-thumbs-up:before {
  content: "\E98E";
  color: #b7b7b7
}

.iconfont-locate-1 .path1:before {
  content: "\E901";
  color: #d7d7d7
}

.iconfont-locate-1 .path2:before {
  content: "\E902";
  margin-left: -1em;
  color: #000
}

.iconfont-locate-1 .path3:before {
  content: "\E903";
  margin-left: -1em;
  color: #000
}

.iconfont-edit-3:before {
  content: "\E904"
}

.iconfont-list-3:before {
  content: "\E905"
}

* {
  box-sizing: border-box
}

:focus {
  outline: none
}

.ant-menu-item {
  text-align: center;
  padding: 0 !important;
  margin-top: 8px !important;
  margin-bottom: 16px !important
}

.ant-menu-item .anticon {
  margin-right: 30px;
  font-size: 16px
}

.xk-table-row {
  cursor: pointer
}

.xk-table-row.active,
.xk-table-row:hover {
  background-color: #f1f5fa
}

a:focus {
  text-decoration: none;
  text-decoration-skip: ink
}

a:active,
a:hover {
  outline: 0
}

a[disabled] {
  cursor: not-allowed;
  pointer-events: none
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 100%;
  border: none;
  overflow: hidden;
  color: #000;
  user-select: none
}

body,
h3,
html {
  font-size: 14px
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9fafc;
  letter-spacing: .5px
}

.am-picker-popup-item {
  color: #000
}

.sortable-active {
  box-shadow: 0 0 6px #ccc
}

body {
  font-family: Arial, PingFangSC-Regular, "\5FAE\8F6F\96C5\9ED1"
}

iframe {
  margin: 0;
  padding: 0
}

iframe,
table {
  width: 100%;
  height: 100%;
  border: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td {
  padding: 0
}

.am-tabs-pane-wrap {
  overflow: hidden !important
}

.am-tabs-default-bar-tab {
  color: #ccc
}

.am-tabs-default-bar-tab-active {
  color: #4d5d74
}

.am-tabs-default-bar-underline {
  border: 1px solid #4d5d74
}

.button-bit {
  padding: 0 15px
}

.button-bit,
.button-mid {
  border: 1px solid #4d5d74;
  height: 30px;
  border-radius: 42px;
  margin: 0 10px;
  background-color: #fff;
  color: #4d5d74
}

.button-mid {
  width: 80px
}

.button-big {
  border: 1px solid #4d5d74;
  height: 45px;
  font-size: 14px;
  border-radius: 22px;
  padding: 0 20px;
  background-color: #fff;
  color: #4d5d74
}

.am-popover-mask {
  background-color: transparent !important
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border-color: #feb2a4 !important;
  background: #feb2a4 !important
}

.slide-ruler_box_2oh {
  overflow: hidden !important
}

.am-popover-item {
  color: #fff
}

.am-popover-item.am-popover-item-disabled {
  color: #ccc
}

.am-picker-popup-header-left,
.am-picker-popup-header-right {
  color: #f5b5a9 !important
}

.am-popover-item-container {
  height: 50px !important
}

.am-popover-item-container i {
  font-size: 18px
}

.am-popover {
  border-radius: 4px
}

.am-popover-inner-wrapper,
.am-popover .am-popover-arrow {
  background-color: #666 !important
}

input[type=number],
input[type=text],
textarea {
  font-size: 16px
}

button {
  font-size: 12px
}

.forbidden {
  opacity: .4
}

.am-modal-button-group-v .am-modal-button,
a {
  color: #444
}